{% extends base %}
<!-- goes in body -->
{% block postamble %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">


<link rel='preconnect' href='https://fonts.googleapis.com'>
<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
<link href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap' rel='stylesheet'>
<script src='https://cdn.tailwindcss.com'></script>

<style>
  select {
    font-family: 'montserrat' !important;
    font-size: 16px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    height: 30px !important;
  }

</style>
{% endblock %}

<!-- goes in body -->
{% block contents %}
<div class = 'flex flex-col w-screen min-h-screen bg-[#316395]/5 pl-72 pt-20' style = 'font-family: montserrat;'>
  <div class = 'fixed inset-0 flex items-center justify-between w-screen h-20 z-50 bg-white px-12 drop-shadow-sm'>
    <span class = 'flex items-center'>
      <h1 class='font-bold text-2xl text-[#1DB954]'>{{ app_title }}</h1>
    </span>
    <span class = 'flex items-center space-x-5'>
      <a class = 'flex items-center space-x-2 cursor-pointer' href = '/ml'>
        <p class = 'text-xl text-[#1DB954]'>Machine Learning</p>
      </a>
    </span>
  </div>
  <div class = 'fixed left-0 top-20 w-75 h-screen bg-white z-40 drop-shadow-sm pt-10'>
    {{ embed(roots.sidebar) }}
  </div>
  <div class = 'w-auto h-[570px] bg-white rounded-lg m-12 mb-6 drop-shadow-sm'>
    {{ embed(roots.data) }}
  </div>
  <div class = 'w-auto h-[510px] bg-white rounded-lg m-12 mb-6 drop-shadow-sm'>
    {{ embed(roots.barplot) }}
  </div>
   <div class = 'w-auto h-[510px] bg-white rounded-lg m-12 mb-6 drop-shadow-sm'>
    {{ embed(roots.genrehist) }}
  </div>
  <div class = 'w-auto h-[510px] bg-white rounded-lg m-12 mb-6 drop-shadow-sm'>
    {{ embed(roots.artist) }}
  </div>
  <div class = 'flex items-center justify-center w-auto mx-12 my-6'>
  <div class = 'w-auto h-[610px] bg-white rounded-lg drop-shadow-sm'>
      {{ embed(roots.heatmap) }}
    </div>
    </div>
  <div class = 'w-auto h-[510px] bg-white rounded-lg m-12 mb-6 drop-shadow-sm'>
    {{ embed(roots.scatter) }}
  </div>
  <div class = 'w-auto h-[510px] bg-white rounded-lg m-12 mb-6 drop-shadow-sm'>
    {{ embed(roots.scatter1) }}
  </div>
  <div class = 'w-auto h-[510px] bg-white rounded-lg m-12 mb-6 drop-shadow-sm'>
    {{ embed(roots.scatter2) }}
  </div>
  <div class = 'flex items-center justify-center w-auto mx-12 my-6'>
    <div class = 'w-auto h-[510px] bg-white rounded-lg drop-shadow-sm'>
      {{ embed(roots.radar_chart) }}
    </div>
  </div>
    <div class = 'flex items-center justify-between w-auto mx-12 my-6'>

  </div>

</div>
{% endblock %}
